/dataset/
!/dataset/sample_*.csv

venv/
.env/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.bak

.ipynb_checkpoints/

outputs/
models/
checkpoints/
runs/
logs/

.vscode/
.idea/
.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
